
/* background color for page */
body{
  background-color: paleturquoise;
  padding-left: 20px;
}

/* header */
h1{
  background-color: wheat;
  margin: 20px;
  padding-top: 10pt;
  padding-bottom: 10pt;
  Text-align: center;
  color: darkslategrey;
  font-size: 50pt;
  font-family: fantasy;
  border: 5px solid darkslategray;

}
/* opening paragraph */
p{
  background-color: paleturquoise;
  text-align: center;
  width: 80%;
  font-size: 25pt;
  font-family: fantasy;
  margin: auto;
  }

/* bio info */
.info{
  /* margin-top: 10px; */
  display: flex;
  margin: auto;
  width: 80%;
  border: 2px solid rgb(0, 0, 0);
  background-color: wheat;
  color: black;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 30px;
}
/* Top Ten Movies */
.movie{
  margin-top:50px;
  border: 2px solid black;
  width: 500px;
  text-align: center;
  background-color: wheat;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 20px;
}


footer{
  background-color: plum;
  color: black;
  border: 2px solid plum;
  border-width: 5px;
  display: inline-block;
  margin-top: 20px;
}